.navbar {
    background: #CDDC39;
}

.footer-copyright {
    background: #CDDC39;
    font-size: 20px;
    color: #fff;
}

a {
    color: rgba(250, 241, 241, 0.801);
}

a:hover {
    color: rgb(243, 230, 230);
    text-decoration: none;
}